@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
/*    background-image: url('../images/background.png');*/
    font-family: 'Raleway', sans-serif;
    padding-left: 20px;
    text-align: center;
    margin: auto;
    width: 900px;
/*    background-image-repeat: no-repeat;*/
    background-color: #72A6A4;
}

h1 {
    font-size: 50px;
    color: #081A26;
}

a {
    color: #081A26;
    text-decoration: none;
}

.repo {
/*    margin-top: 20px;*/
    display: block;
}

.repo:hover {
    text-decoration: underline;
    color: #F0EAD2;
}

.icon {
	text-align: center;
    margin-top: 200px;
}

.icon a {
	font-size: 50px;
	color: #081A26;
	margin: 50px;
}

.icon-twitter:hover,.icon-facebook:hover,.icon-github:hover,.icon-linkedin:hover {
		color: #F0EAD2;
}

img {
    height: 200px;
    display: inline;
}

.item {
    display: inline-block;
    margin: 20px;
}
