@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
    background-image: url('../images/background.png');
    font-family: 'Raleway', sans-serif;
    padding-left: 20px;
    text-align: center;
    margin: auto;
    width: 700px;
    background-image-repeat: no-repeat;
}

h1 {
    font-size: 50px;
    color: #FFF340;
    font-weight: lighter;
}

a {
    color: #FFF340;
    text-decoration: none;
}

.repo:hover {
    text-decoration: underline;
    color: #9F69D6;
}

div {
    margin-bottom: 15px;
}

.icon {
	margin-top: 50px;
	text-align: center;
	}

.icon a {
	font-size: 50px;
	color: #9F69D6;
	margin: 50px;
}

.icon-twitter:hover,.icon-facebook:hover,.icon-github:hover,.icon-linkedin:hover {
		color: #FFF340;
}
